li a{
    text-decoration: none;
    color: #9DC394;
    font-family: "柔源l";
    letter-spacing: 3px;
    padding-left: 5px;
}

ul {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 20px;
    list-style-image: url(../favicon.ico);
}

#toHide {
    width: 75vw;
    padding: 10px;
    margin: auto;
    text-align: justify;
}

#profile {
    height: 380px;
    width: 380px;
    overflow: hidden;
    background-color: #D9E0E7;
    float: left;
    margin-right: 20px;
}

#info {
    min-height: 400px;
}
#info h2{
    text-align: center;
    margin-bottom: 25px;
}

#profile img {
    width: 100%;
}

#evolution {
    z-index: -1;
    position: fixed;
    display: flex;
    width: 65%;
    height: 100%;
    top: 0;
    left: 40%;
    justify-content: center;
    align-items: center;
}

#evolution img {
    opacity: 0;
    width: 350px;
    position: absolute;
}

#history {
    width: 80vw;
    margin: auto;
}

.quest {
    margin: 50px;
    height: 250px;
    opacity: 1;
}

.quest .img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    background-color: #D9E0E7;
    position: absolute;
}

.quest img {
    width: 90%;
}

.quest .content {
    margin-left: 280px;
    display: flex;
    text-align: left;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-right: 35%;
}

.divider {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;  
    width: 75vw;
}

.divider div{
    width: 100%;
    height: 2px;
    background-color: #BEBEBE;
}

