#toHide {
    width: 75vw;
    padding: 10px;
    margin: auto;
}

#profile {
    height: 380px;
    width: 380px;
    background-color: #D9E0E7;
    position: absolute;
}

#profile img {
    width: 100%;
}

#evolution {
    display: none;
}

#info {
    margin-left: 410px;
}

#history {
    width: 80vw;
    margin: auto;
}

.quest {
    margin: 50px;
    height: 250px;
}

.quest .img_container {
    height: 250px;
    width: 250px;
    background-color: #D9E0E7;
    position: absolute;
}

.quest img {
    width: 100%;
}

.quest .content {
    margin-left: 280px;
}

