li a{
    text-decoration: none;
    color: #9DC394;
    font-family: "柔源l";
    font-size: 0.8em;
    letter-spacing: 1px;
}

ul {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
}

#toHide {
    width: 90vw;
    padding: 5vw;
    margin: auto;
    text-align: center;
}

#profile {
    height: 80vw;
    width: 80vw;
    overflow: hidden;
    background-color: #D9E0E7;
    margin: auto;
}

#info {
    min-height: 400px;
}

#info p {
    text-align: justify;
}

#profile img {
    width: 100%;
}

#evolution {
    z-index: -1;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    bottom: 0;
    justify-content: center;
}

#evolution img {
    opacity: 0;
    width: 55vw;
    position: absolute;
    bottom: 50px;
    right: 30px;
}

#history {
    width: 90vw;
    margin: auto;
    margin-bottom: 200px;
}

.quest {
    margin-bottom: 50px;
    min-height: 120px;
    opacity: 0.2;
}

.quest .img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    background-color: #D9E0E7;
    position: absolute;
}

.quest img {
    width: 100%;
}

.quest .content {
    margin-left: 140px;
    text-align: left;
    padding-right: 5px;
}

.content h2 {
    float: left;
    margin-top: -9px;
    margin-bottom: 0;
}

.content p {
    line-height: 180%;
    text-align: justify;
}

.divider {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;  
    width: 90vw;
}

.divider div{
    width: 100%;
    height: 2px;
    background-color: #BEBEBE;
}

