.buttons {
    display: flex;
    margin: auto;
    align-items: flex-end;
    justify-content: center;
    max-width: 80vw;
    margin-bottom: 30px;
}

button {
    text-decoration: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    background: #1F2020;
    color: rgb(181,181,182);
    display: inline;
    text-align: center;
    cursor: pointer;
    font-family: "柔源l";
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
}

.nowpos {
    border-bottom-style: none;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    color: #white;
}

h2{
    margin-bottom: 50px;
}

h3 {
    color: #9DC394;
    letter-spacing: 3px;
    font-family: "柔源M";
    padding-top: 30px;
}

.title{
    text-align: center;
    margin: auto;
    padding: 20px;
    color: #9DC394;
    font-style: "柔源";
    letter-spacing: 5px;
}

#memintro{
    margin: auto;
    width: 60vw;
}

@media screen and (max-width: 800px) {
    #memintro{
        margin: auto;
        width: 80vw;
    }
}

.block {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px; 
}

.one{
    height: 150px;
    width: 170px;
    position: absolute;
    background: #D9E0E7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.one img{
    max-height: 100%;
    max-width: 100%;
}

.two{
    position: static;
    text-align: left;
    height: 150px;
    margin-left: 200px;
}

#footer {
    width: 100%;
    height: 300px;
}
