<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'stylesheets/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'stylesheets/character.css') }}">
    <title>記憶實驗所 - 人格重曝</title>
</head>
<body>

    <div id="fixed_head">
        <div id="mem-lab">
            <img src="./../static/img/logo.png">
        </div>
        <div><a href="./../flow"> [ 實驗流程 ] </a></div>
        <div><a href="./../characters"> [ 人格重曝 ] </a></div>
        <div><a href="./../team"> [ 關於我們 ] </a></div>
        <div id="icon">
            <img src="./../static/img/search.png">
        </div>
    </div>

    <div id="header">
        <div id="nav">
            <img src="./../static/img/search.png">
            <img src="./../static/img/facebook.png">
        </div>
        <div id="logo">
            <a href="/"><img src="./../static/img/logo.png" width="100%"></a>
        </div>
        <div id="links">
            <a href="./../flow"> [ 實驗流程 ] </a>
            <a href="./../characters"> [ 人格重曝 ] </a>
            <a href="./../team"> [ 關於我們 ] </a>
        </div>
        <div id="header_text">
            <p>首頁&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人格重曝</p>
        </div>
    </div>
    

    <!-- 解鎖前要隱藏的部分 -->
    <div id="toHide">
        <h2>{{name}}</h2>
        <div id="info">
            <div id="profile">
                <img src="./../static/questions/{{profile}}">
            </div>
            <p>{{description}}</p>
        </div>
    </div>

    <!-- 人格演進 -->
    <div id="evolution">
        {%for e in evolutions%}
            <img src="./../static/evolutions/{{e.path}}">
        {%endfor%}
    </div>

    <div class="divider">
        <div></div>
    </div>

    <!-- 實驗歷史 -->
    <div id="history">
        {%for q in questions%}
            {% if loop.index == 6 %}
                <div class="divider">
                    <div></div>
                </div>
            {% endif %}
            <div class="quest">
                <div class="img_container">
                    <img src="./../static/questions/{{q.path}}">
                </div>
                <div class="content">
                    <h2>Q{{loop.index}}.</h2>
                    <p>{{q.description}}</p>
                </div>
            </div>
        {%endfor%}
    </div>

    <script src="{{ url_for('static', filename = 'js/common.js') }}"></script>

</body>
</html>