<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
    <link rel="stylesheet" media="screen and (min-width:400px)" type="text/css" href="{{ url_for('static', filename = 'stylesheets/common.css') }}">
    <link rel="stylesheet" media="screen and (max-width:400px)" type="text/css" href="{{ url_for('static', filename = 'stylesheets/common_phone.css') }}">
    <link rel="stylesheet" media="screen and (min-width:600px)" type="text/css" href="{{ url_for('static', filename = 'stylesheets/character.css') }}">
    <link rel="stylesheet" media="screen and (max-width:600px)" type="text/css" href="{{ url_for('static', filename = 'stylesheets/character_phone.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>記憶實驗所 - 人格重曝</title>
</head>
<body>

    {% import 'header.html' as header %}
    {{ header.header(' > 人格重曝', '../') }}

    <!-- 解鎖前要隱藏的部分 -->
    <div id="toHide">
        <div id="info">
            <h2>{{name}}</h2>
            <div id="profile">
                <img src="./../static/profile/{{profile}}">
            </div>
            <p>{{description}}</p>
        </div>
    </div>

    <!-- 人格演進 -->
    <div id="evolution">
        {%for e in evolutions%}
            <img id="ev{{loop.index}}" src="./../static/evolutions/{{e.path}}">
        {%endfor%}
    </div>

    <div class="divider">
        <div></div>
    </div>

    <!-- 實驗歷史 -->
    <div id="history">
        {%for q in questions%}
            {% if loop.index == 6 %}
                <div class="divider">
                    <div></div>
                </div>
            {% endif %}
            <div class="quest" id="quest{{loop.index}}">
                <div class="img_container">
                    <img src="./../static/questions/{{q.path}}">
                </div>
                <div class="content">
                    <h2>Q{{loop.index}}.</h2>
                    <p>{{q.description}}</p>
                </div>
            </div>
        {%endfor%}
    </div>

    <script>
        var controller = new ScrollMagic.Controller();
        {%for e in evolutions%}
            // fade in
            console.log({{loop.index}});
            var du = $('#quest{{e.start_question}}').height();
            new ScrollMagic.Scene(
                    {triggerElement: "#quest{{e.start_question}}", duration: du})
                    .setTween("#ev{{loop.index}}", {opacity: "1"})
                    .addTo(controller);
            // fade out
            new ScrollMagic.Scene(
                    {triggerElement: "#quest{{e.end_question}}", duration: du})
                    .setTween("#ev{{loop.index}}", {opacity: "0"})
                    .addTo(controller);
        {%endfor%}

        {%for q in questions%}
            // fade in
            console.log({{loop.index}});
            var du = 2.5 * $('#quest{{loop.index - 1}}').height();
            new ScrollMagic.Scene(
                    {triggerElement: "#quest{{loop.index - 1}}", duration: du})
                    .setTween("#quest{{loop.index}}", {opacity: "1"})
                    .addTo(controller);
        {%endfor%}
    </script>

    <script src="{{ url_for('static', filename = 'js/common.js') }}"></script>

</body>
</html>