<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" media="screen and (min-width:450px)" type="text/css" href="{{ url_for('static', filename = 'stylesheets/common.css') }}">
    <link rel="stylesheet" media="screen and (max-width:450px)" type="text/css" href="{{ url_for('static', filename = 'stylesheets/common_phone.css') }}">
    <link rel="stylesheet" media="screen and (min-width:450px)" type="text/css" href="{{ url_for('static', filename = 'stylesheets/characters.css') }}">
    <link rel="stylesheet" media="screen and (max-width:450px)" type="text/css" href="{{ url_for('static', filename = 'stylesheets/characters_phone.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>記憶實驗所 - 人格重曝</title>
</head>
<body>

    {% import 'header.html' as header %}
    {{ header.header(' > 人格重曝') }}

    <div id="description">
        <p>
        訪問之後，除了文字的傳遞以外，<br>
        還有什麼方法可以讓這些意念更加深入地傳至觀看者心裡？<br>
        有沒有一種作法能夠讓觀者一同經歷訪問誕生的過程，<br>
        甚至影響訪問產出的結果呢？<br>
        <br>
        因此我們決定將訪綱的一部分開放，<br>
        讓參與活動的受測者經過一定的程序後進行回答，<br>
        並以此作為基準進行換位思考，<br>
        藉此同時探討人們在同理對方的時候，<br>
        能夠理解對方的想法至什麼樣的程度。<br>
        <br>
        我們認為這樣子的過程就像是將人格進行重曝，<br>
        把每個人的意念都放入原本的人格中進行延展，<br>
        賦予它不一樣的面貌。<br>
        </p>
    </div>

    <h2>• 基 礎 人 格 •</h2>

    <div id="characters">
        {% for user in users%}
        <div class="user">
            <a href="character/{{user.id}}">
            <div class="profile">
                {% for e in user.evolutions %}
                    {% if loop.last %}
                        <img src="./../static/evolutions/{{e.path}}">
                    {% endif %}
                {% endfor %}
            </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <div id="footer"></div>
    <script src="{{ url_for('static', filename = 'js/common.js') }}"></script>

</body>
</html>