<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./static/stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="./static/stylesheets/flow.css">
    <title>記憶實驗所 - 實驗流程</title>
</head>
<body>

    <div id="header">
        <div id="nav">
            <img src="./static/img/search.png">
            <img src="./static/img/facebook.png">
        </div>
        <div id="logo">
            <a href="/"><img src="./static/img/logo.png" width="100%"></a>
        </div>
        <div id="links">
            <a href="./flow"> [ 實驗流程 ] </a>
            <a href="./characters"> [ 人格重曝 ] </a>
            <a href="./team"> [ 關於我們 ] </a>
        </div>
        <div id="header_text">
            <p>首頁&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;實驗流程</p>
        </div>
    </div>
    
    <img src="./static/img/flow.png" id="flow">
</body>
</html>