<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr><br>
        {% for User in Users%}
        <tr>
            <td>{{User.id}}</td>
            <td>{{User.name}}</td>
        </tr><br>
        {% endfor %}
    </p>
    <br>
    <p>
        <tr>
            <th>des</th>
            <th>url</th>
            <th>username</th>
        </tr><br>
        {% for Ques in Quess%}
        <tr>
            <td>{{Ques.description}}</td>
            <td>{{Ques.picture_url}}</td>    
            <td>{{Ques.user.name}}</td>
        </tr><br>
        {% endfor %}
    </p>
    <p>Hello!</p>
    <input type="button" value="goto hi2" onclick="location.href='./hi2'">
</body>
</html>