<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" media="screen and (min-width:400px)" type="text/css" href="{{ url_for('static', filename = 'stylesheets/huanan.css') }}">
    <link rel="stylesheet" media="screen and (max-width:400px)" type="text/css" href="{{ url_for('static', filename = 'stylesheets/huanan_phone.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>華 南 印 象</title>
</head>
<body>

    <div id="banner">
        <div>
            <h1>華 南 印 象</h1>
            <p>
                華南印象華南印象華南印象華南印象，<br>
                華南印象，華南、印象！<br>
                華南印象華南印象華南印象。<br>
            </p>
        </div>
    </div>

    <div id="main_container">

        <div class="col" id="left_col">
        {%for p in pics%}
            {% if loop.index is divisibleby(2) %}
            <div>
                <div class="card">
                    <img src="/static/huanan/{{p.path}}">
                    <p>{{p.description}}</p>
                </div>
                <div class="triangle"></div>
            </div>
            {% endif %}
        {%endfor%}
        </div>

        <div id="divider">
        </div>

        <div class="col" id="right_col">
        {%for p in pics%}
            {% if (loop.index+1) is divisibleby(2) %}
            <div>
                <div class="triangle"></div>
                <div class="card">
                    <img src="/static/huanan/{{p.path}}">
                    <p>{{p.description}}</p>
                </div>
            </div>
            {% endif %}
        {%endfor%}
        </div>

    </div>

    <div id="footer">
        <p>瀏 覽 人 次</p>
    </div>

    <script type="text/javascript">
        // let h = max( $('') , )
    </script>

</body>
</html>