<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- <link rel="stylesheet" media="screen and (min-width:400px)" type="text/css" href="../static/stylesheets/common.css">
    <link rel="stylesheet" media="screen and (max-width:400px)" type="text/css" href="../static/stylesheets/common_phone.css">
    <link rel="stylesheet" media="screen and (min-width:400px)" type="text/css" href="../static/stylesheets/index.css">
    <link rel="stylesheet" media="screen and (max-width:400px)" type="text/css" href="../static/stylesheets/index_phone.css"> -->

    <link rel="stylesheet" media="screen and (min-width:400px)" type="text/css" href="{{ url_for('static', filename = 'stylesheets/common.css') }}">
    <link rel="stylesheet" media="screen and (max-width:400px)" type="text/css" href="{{ url_for('static', filename = 'stylesheets/common_phone.css') }}">
    <link rel="stylesheet" media="screen and (min-width:400px)" type="text/css" href="{{ url_for('static', filename = 'stylesheets/index.css') }}">
    <link rel="stylesheet" media="screen and (max-width:400px)" type="text/css" href="{{ url_for('static', filename = 'stylesheets/index_phone.css') }}">
    <title>記憶實驗所</title>
</head>
<body>

    <div id="fixed_head">
        <div id="mem-lab">
            <img src="./static/img/logo.png">
        </div>
        <div><a href="./flow"> [ 實驗流程 ] </a></div>
        <div><a href="./characters"> [ 人格重曝 ] </a></div>
        <div><a href="./team"> [ 關於我們 ] </a></div>
        <div id="icon">
            <img src="./static/img/facebook.png">
        </div>
    </div>

    <div id="header">
        <div id="nav">
            <img src="./static/img/facebook.png">
        </div>
        <div id="links_front">
            <a href="./flow"> [ 實驗流程 ] </a>
            <a href="./characters"> [ 人格重曝 ] </a>
            <a href="./team"> [ 關於我們 ] </a>
        </div>
        <div id="logo">
            <a href="/"><img src="./static/img/logo.png" width="100%"></a>
        </div>
        <div id="links_back">
            <a href="./flow"> [ 實驗流程 ] </a>
            <a href="./characters"> [ 人格重曝 ] </a>
            <a href="./team"> [ 關於我們 ] </a>
        </div>
        <div id="header_text">
            <p>首頁</p>
        </div>
    </div>
    

    <div id="key_vision">
        <img src="./static/img/key_vision.png" width="80%">
    </div>

    <div id="description">
        <h2>• 專 案 介 紹 •</h2>
        <h1>人與人之間，究竟能不能相互理解呢？</h1>
        <p>
        目前社會上存在著很多分歧、衝突，<br/>
        以及值得需要被探討的議題，<br/>
        而這些困境並非一朝一夕，一個人的力量能夠解決。<br/>
        <br/>
        但我們相信就算不能實際立即地改變現狀，<br/>
        倘若人與人之間能夠多一份瞭解，換位思考，<br/>
        或許就能減少悲傷和衝突發生。<br/>
        <br/>
        因此我們設計了一份簡單的訪問，以圖片為主，文字為輔，<br/>
        試圖呈現生活在台灣的人們，以及台灣人民不同卻又相似的面貌。<br/>
        而在簡單的訪問之後，我們會將這些照片以及文字傳遞下去，<br/>
        讓接下來參與計劃的受測者們能夠接續前者完成整個訪問的內容，<br/>
        以此來達到換位思考的目的。<br/>
        <br/>
        至於作品呈現的方式，我們除了以網頁傳達之外，<br/>
        也將使用此次計畫所收集而來的照片完成一件大型的裝置藝術，<br/>
        並從「突破人與人之間的界線」作為延伸概念，<br/>
        完成整個藝術季『記憶實驗所』計畫的統整。<br/>
        </p>
    </div>

    <div id="footer"></div>

    <script src="{{ url_for('static', filename = 'js/common.js') }}"></script>
</body>
</html>