<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./static/stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="./static/stylesheets/team.css">
    <title>記憶實驗所 - 團隊介紹</title>
</head>
<body>

    <div id="header">
        <div id="nav">
            <img src="./static/img/search.png">
            <img src="./static/img/facebook.png">
        </div>
        <div id="logo">
            <a href="/"><img src="./static/img/logo.png" width="100%"></a>
        </div>
        <div id="links">
            <a href="./flow"> [ 實驗流程 ] </a>
            <a href="./characters"> [ 人格重曝 ] </a>
            <a href="./team"> [ 關於我們 ] </a>
        </div>
        <div id="header_text">
            <p>首頁&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;團隊介紹</p>
        </div>
    </div>
    
    <h2>團隊介紹</h2>
    <div class="line"></div>
    <div class="buttons">
        <button type="button" onclick="document.getElementById('boss').style.display='inline';
        document.getElementById('it').style.display='inline';
        document.getElementById('twoD').style.display='inline';
        document.getElementById('threeD').style.display='inline';
        document.getElementById('anim').style.display='inline';
        document.getElementById('acent').style.display='inline';
        document.getElementById('ui').style.display='inline';
        document.getElementById('elect').style.display='inline';
        document.getElementById('out').style.display='inline';">
        全部</button>

        <button type="button" onclick="document.getElementById('boss').style.display='inline';
        document.getElementById('it').style.display='none';
        document.getElementById('twoD').style.display='none';
        document.getElementById('threeD').style.display='none';
        document.getElementById('anim').style.display='none';
        document.getElementById('acent').style.display='none';
        document.getElementById('ui').style.display='none';
        document.getElementById('elect').style.display='none';
        document.getElementById('out').style.display='none';">
        藝術總監</button>
        
        <button type="button" onclick="document.getElementById('boss').style.display='none';
        document.getElementById('it').style.display='inline';
        document.getElementById('twoD').style.display='none';
        document.getElementById('threeD').style.display='none';
        document.getElementById('anim').style.display='none';
        document.getElementById('acent').style.display='none';
        document.getElementById('ui').style.display='none';
        document.getElementById('elect').style.display='none';
        document.getElementById('out').style.display='none';">
        工程師</button>

        <button type="button" onclick="document.getElementById('boss').style.display='none';
        document.getElementById('it').style.display='none';
        document.getElementById('twoD').style.display='inline';
        document.getElementById('threeD').style.display='none';
        document.getElementById('anim').style.display='none';
        document.getElementById('acent').style.display='none';
        document.getElementById('ui').style.display='none';
        document.getElementById('elect').style.display='none';
        document.getElementById('out').style.display='none';">
        平面繪畫</button>

        <button type="button" onclick="document.getElementById('boss').style.display='none';
        document.getElementById('it').style.display='none';
        document.getElementById('twoD').style.display='none';
        document.getElementById('threeD').style.display='inline';
        document.getElementById('anim').style.display='none';
        document.getElementById('acent').style.display='none';
        document.getElementById('ui').style.display='none';
        document.getElementById('elect').style.display='none';
        document.getElementById('out').style.display='none';">
        裝置藝術</button>

        <button type="button" onclick="document.getElementById('boss').style.display='none';
        document.getElementById('it').style.display='none';
        document.getElementById('twoD').style.display='none';
        document.getElementById('threeD').style.display='none';
        document.getElementById('anim').style.display='inline';
        document.getElementById('acent').style.display='none';
        document.getElementById('ui').style.display='none';
        document.getElementById('elect').style.display='none';
        document.getElementById('out').style.display='none';">
        動畫</button>

        <button type="button" onclick="document.getElementById('boss').style.display='none';
        document.getElementById('it').style.display='none';
        document.getElementById('twoD').style.display='none';
        document.getElementById('threeD').style.display='none';
        document.getElementById('anim').style.display='none';
        document.getElementById('acent').style.display='none';
        document.getElementById('ui').style.display='inline';
        document.getElementById('elect').style.display='none';
        document.getElementById('out').style.display='none';">
        網頁UI</button>

        <button type="button" onclick="document.getElementById('boss').style.display='none';
        document.getElementById('it').style.display='none';
        document.getElementById('twoD').style.display='none';
        document.getElementById('threeD').style.display='none';
        document.getElementById('anim').style.display='none';
        document.getElementById('acent').style.display='inline';
        document.getElementById('ui').style.display='none';
        document.getElementById('elect').style.display='none';
        document.getElementById('out').style.display='none';">
        調香師</button>

        <button type="button" onclick="document.getElementById('boss').style.display='none';
        document.getElementById('it').style.display='none';
        document.getElementById('twoD').style.display='none';
        document.getElementById('threeD').style.display='none';
        document.getElementById('anim').style.display='none';
        document.getElementById('acent').style.display='none';
        document.getElementById('ui').style.display='none';
        document.getElementById('elect').style.display='inline';
        document.getElementById('out').style.display='none';">
        電路</button>

        <button type="button" onclick="document.getElementById('boss').style.display='none';
        document.getElementById('it').style.display='none';
        document.getElementById('twoD').style.display='none';
        document.getElementById('threeD').style.display='none';
        document.getElementById('anim').style.display='none';
        document.getElementById('acent').style.display='none';
        document.getElementById('ui').style.display='none';
        document.getElementById('elect').style.display='none';
        document.getElementById('out').style.display='inline';">
        對外接洽及體驗設計</button><br>
    </div>
    <div class="line"></div>

    <div id="memintro">
        <!-- <div id="test">
            [ 測試 ]<br>
            <div id="one"><img src=https://i.imgur.com/oDv8F2a.jpg></div>
            <div id="two">阿哈哈<br>阿哈哈西西。12313213213吧啦吧啦淅瀝淅瀝<br></div>
        </div> -->
        <div id="boss">
            [ 藝術總監 ]<br>
            {% for person in boss %}
                <div id="one"><img src={{person.picture_url}}></div>
                <div id="two">{{person.name}}<br>{{person.text}}<br></div>
            {% endfor %}
        </div>
        <div id="it">
            [ 工程師 ]<br>
            {% for person in it %}
                <div id="one"><img src={{person.picture_url}}></div>
                <div id="two">{{person.name}}<br>{{person.text}}<br></div>
            {% endfor %}
        </div>
        <div id="twoD">
            [ 平面繪畫 ]<br>
            {% for person in twoD %}
                <div id="one"><img src={{person.picture_url}}></div>
                <div id="two">{{person.name}}<br>{{person.text}}<br></div>
            {% endfor %}
        </div>
        <div id="threeD">
            [ 裝置藝術 ]<br>
            {% for person in threeD %}
                <div id="one"><img src={{person.picture_url}}></div>
                <div id="two">{{person.name}}<br>{{person.text}}<br></div>
            {% endfor %}
        </div>
        <div id="anim">
            [ 動畫 ]<br>
            {% for person in anim %}
                <div id="one"><img src={{person.picture_url}}></div>
                <div id="two">{{person.name}}<br>{{person.text}}<br></div>
            {% endfor %}
        </div>
        <div id="ui">
            [ 網頁UI ]<br>
            {% for person in ui %}
                <div id="one"><img src={{person.picture_url}}></div>
                <div id="two">{{person.name}}<br>{{person.text}}<br></div>  
            {% endfor %}
        </div>
        <div id="acent">
            [ 調香師 ]<br>
            {% for person in acent %}
                <div id="one"><img src={{person.picture_url}}></div>
                <div id="two">{{person.name}}<br>{{person.text}}<br></div>
            {% endfor %}
        </div>
        <div id="elect">
            [ 電路 ]<br>
            {% for person in elect %}
                <div id="one"><img src={{person.picture_url}}></div>
                <div id="two">{{person.name}}<br>{{person.text}}<br></div>
            {% endfor %}
        </div>
        <div id="out">
            [ 對外接洽及體驗設計 ]<br>
            {% for person in out %}
                <div id="one"><img src={{person.picture_url}}></div>
                <div id="two">{{person.name}}<br>{{person.text}}<br></div>
            {% endfor %}
        </div>
    </div>
    

</body>
</html>