<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" media="screen and (min-width:400px)" type="text/css" href="{{ url_for('static', filename = 'stylesheets/common.css') }}">
    <link rel="stylesheet" media="screen and (max-width:400px)" type="text/css" href="{{ url_for('static', filename = 'stylesheets/common_phone.css') }}">
    <link rel="stylesheet" media="screen and (min-width:470px)" type="text/css" href="{{ url_for('static', filename = 'stylesheets/team.css') }}">
    <link rel="stylesheet" media="screen and (max-width:470px)" type="text/css" href="{{ url_for('static', filename = 'stylesheets/team_phone.css') }}">
    <title>記憶實驗所 - 團隊介紹</title>
</head>
<body>

    {% import 'header.html' as header %}
    {{ header.header(' > 關於我們') }}
    
    <h2>• 團隊介紹 •</h2>
    <div class="buttons">
        <button class="nowpos" type="button" onclick="document.getElementById('boss').style.display='inline';
        document.getElementById('it').style.display='inline';
        document.getElementById('twoD').style.display='inline';
        document.getElementById('threeD').style.display='inline';
        document.getElementById('anim').style.display='inline';
        document.getElementById('acent').style.display='inline';
        document.getElementById('ui').style.display='inline';
        document.getElementById('elect').style.display='inline';
        document.getElementById('out').style.display='inline';">
        全部</button>

        <button type="button" onclick="document.getElementById('boss').style.display='inline';
        document.getElementById('it').style.display='none';
        document.getElementById('twoD').style.display='none';
        document.getElementById('threeD').style.display='none';
        document.getElementById('anim').style.display='none';
        document.getElementById('acent').style.display='none';
        document.getElementById('ui').style.display='none';
        document.getElementById('elect').style.display='none';
        document.getElementById('out').style.display='none';">
        藝術總監</button>
        
        <button type="button" onclick="document.getElementById('boss').style.display='none';
        document.getElementById('it').style.display='inline';
        document.getElementById('twoD').style.display='none';
        document.getElementById('threeD').style.display='none';
        document.getElementById('anim').style.display='none';
        document.getElementById('acent').style.display='none';
        document.getElementById('ui').style.display='none';
        document.getElementById('elect').style.display='none';
        document.getElementById('out').style.display='none';">
        工程師</button>

        <button type="button" onclick="document.getElementById('boss').style.display='none';
        document.getElementById('it').style.display='none';
        document.getElementById('twoD').style.display='inline';
        document.getElementById('threeD').style.display='none';
        document.getElementById('anim').style.display='none';
        document.getElementById('acent').style.display='none';
        document.getElementById('ui').style.display='none';
        document.getElementById('elect').style.display='none';
        document.getElementById('out').style.display='none';">
        平面繪畫</button>

        <button type="button" onclick="document.getElementById('boss').style.display='none';
        document.getElementById('it').style.display='none';
        document.getElementById('twoD').style.display='none';
        document.getElementById('threeD').style.display='inline';
        document.getElementById('anim').style.display='none';
        document.getElementById('acent').style.display='none';
        document.getElementById('ui').style.display='none';
        document.getElementById('elect').style.display='none';
        document.getElementById('out').style.display='none';">
        裝置藝術</button>

        <button type="button" onclick="document.getElementById('boss').style.display='none';
        document.getElementById('it').style.display='none';
        document.getElementById('twoD').style.display='none';
        document.getElementById('threeD').style.display='none';
        document.getElementById('anim').style.display='inline';
        document.getElementById('acent').style.display='none';
        document.getElementById('ui').style.display='none';
        document.getElementById('elect').style.display='none';
        document.getElementById('out').style.display='none';">
        動畫</button>

        <button type="button" onclick="document.getElementById('boss').style.display='none';
        document.getElementById('it').style.display='none';
        document.getElementById('twoD').style.display='none';
        document.getElementById('threeD').style.display='none';
        document.getElementById('anim').style.display='none';
        document.getElementById('acent').style.display='none';
        document.getElementById('ui').style.display='inline';
        document.getElementById('elect').style.display='none';
        document.getElementById('out').style.display='none';">
        網頁UI</button>

        <button type="button" onclick="document.getElementById('boss').style.display='none';
        document.getElementById('it').style.display='none';
        document.getElementById('twoD').style.display='none';
        document.getElementById('threeD').style.display='none';
        document.getElementById('anim').style.display='none';
        document.getElementById('acent').style.display='inline';
        document.getElementById('ui').style.display='none';
        document.getElementById('elect').style.display='none';
        document.getElementById('out').style.display='none';">
        調香師</button>

        <button type="button" onclick="document.getElementById('boss').style.display='none';
        document.getElementById('it').style.display='none';
        document.getElementById('twoD').style.display='none';
        document.getElementById('threeD').style.display='none';
        document.getElementById('anim').style.display='none';
        document.getElementById('acent').style.display='none';
        document.getElementById('ui').style.display='none';
        document.getElementById('elect').style.display='inline';
        document.getElementById('out').style.display='none';">
        電路</button>

        <button type="button" onclick="document.getElementById('boss').style.display='none';
        document.getElementById('it').style.display='none';
        document.getElementById('twoD').style.display='none';
        document.getElementById('threeD').style.display='none';
        document.getElementById('anim').style.display='none';
        document.getElementById('acent').style.display='none';
        document.getElementById('ui').style.display='none';
        document.getElementById('elect').style.display='none';
        document.getElementById('out').style.display='inline';">
        對外接洽及體驗設計</button>
    </div>

    <div id="memintro">
        <div id="boss">
            <div class="title">[ 藝術總監 ]<br></div>
            <div class="group">
            {% for person in boss %}
                <div class="block">
                    <div class="one">
                        <img src={{person.picture_url}}></div>
                    <div class="two">
                        <h3 class="name">{{person.name}}</h3>
                        <p class="text">{{person.text}}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="it">
            <div class="title">[ 工程師 ]<br></div>
            <div class="group">
            {% for person in it %}
                <div class="block">
                    <div class="one">
                        <img src={{person.picture_url}}></div>
                    <div class="two">
                        <h3 class="name">{{person.name}}</h3>
                        <p class="text">{{person.text}}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="twoD">
            <div class="title">[ 平面繪畫 ]<br></div>
            <div class="group">
            {% for person in twoD %}
                <div class="block">
                    <div class="one">
                        <img src={{person.picture_url}}></div>
                    <div class="two">
                        <h3 class="name">{{person.name}}</h3>
                        <p class="text">{{person.text}}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="threeD">
            <div class="title">[ 裝置藝術 ]<br></div>
            <div class="group">
            {% for person in threeD %}
                <div class="block">
                    <div class="one">
                        <img src={{person.picture_url}}></div>
                    <div class="two">
                        <h3 class="name">{{person.name}}</h3>
                        <p class="text">{{person.text}}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="anim">
            <div class="title">[ 動畫 ]<br></div>
            <div class="group">
            {% for person in anim %}
                <div class="block">
                    <div class="one">
                        <img src={{person.picture_url}}></div>
                    <div class="two">
                        <h3 class="name">{{person.name}}</h3>
                        <p class="text">{{person.text}}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="ui">
            <div class="title">[ 網頁UI ]<br></div>
            <div class="group">
            {% for person in ui %}
                <div class="block">
                    <div class="one">
                        <img src={{person.picture_url}}></div>
                    <div class="two">
                        <h3 class="name">{{person.name}}</h3>
                        <p class="text">{{person.text}}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="acent">
            <div class="title">[ 調香師 ]<br></div>
            <div class="group">
            {% for person in acent %}
                <div class="block">
                    <div class="one">
                        <img src={{person.picture_url}}></div>
                    <div class="two">
                        <h3 class="name">{{person.name}}</h3>
                        <p class="text">{{person.text}}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="elect">
            <div class="title">[ 電路 ]<br></div>
            <div class="group">
            {% for person in elect %}
                <div class="block">
                    <div class="one">
                        <img src={{person.picture_url}}></div>
                    <div class="two">
                        <h3 class="name">{{person.name}}</h3>
                        <p class="text">{{person.text}}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="out">
            <div class="title">[ 對外接洽及體驗設計 ]<br></div>
            <div class="group">
            {% for person in out %}
                <div class="block">
                    <div class="one">
                        <img src={{person.picture_url}}></div>
                    <div class="two">
                        <h3 class="name">{{person.name}}</h3>
                        <p class="text">{{person.text}}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="footer"></div>
    </div>
    

    <script src="{{ url_for('static', filename = 'js/common.js') }}"></script>
    <script type="text/javascript">
        $(document).on('click', 'button', (function(e) {
            $(':button').removeClass('nowpos');
            $(this).addClass('nowpos');
        }));
    </script>

</body>
</html>